.progress-container {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
  background-color: #e6fdf9;
}

.progress-bar {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding-right: 0.75rem;
  font-weight: bold;
  border-radius: 1rem;
  color: white;
  background-color: #07bc9c;
}

@media (max-width: 768px) {
  .progress-bar {
    font-size: 0.8rem;
  }
}
